.user-box {
    border: 2px solid #E47E39;
}

.user-box-header {
    border-bottom: 1px solid #E47E39;
}

.repo-list {
    margin: 0px auto;
    width: 95%;
    border-top: 1px solid #E47E39;
}

li {
    border-bottom: 1px solid #aaa;
    margin-bottom: 1em;
    width: 85%;
    max-width: 250px;
}

.user-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}