<div class="m-5">  
    <div class="user-box">
        <div class="user-box-header d-flex justify-content-between align-items-center mb-3">
            <div class="m-2">
                <img class="user-img" src="{{ userData.avatar_url }}" alt="">
            </div>
            <div>
                <h1>{{ userData.login }}</h1>
            </div>
            <div class="mr-3">
                <a href="html_url">View on Github</a>
            </div>
        </div>
        <ul class="ml-3">
            <li><i class="far fa-user"></i> {{ userData.name }}</li>
            <li><i class="far fa-clock"></i> {{ userData.created_at }}</li>
            <li><i class="fas fa-map-marker-alt"></i> {{ userData.location }}</li>
            <li><i class="fas fa-briefcase"></i> {{ userData.company }}</li>
            <li><i class="far fa-envelope"></i> {{ userData.email }}</li>
        </ul>
        <h2 class="ml-5">Repos</h2>
        <div class="repo-list">
            <a class="mr-3" *ngFor="let repo of repos" href="{{ repo.html_url }}">{{ repo.name }}</a>   
        </div>
    </div>
</div>  